


<div class="content_area">
	<div class="single_right_coloum">
        @for (var i = 0; i <= 30; i++)
        {
          <h2 class="title">editorial</h2>
          <div class="single_cat_right_content editorial"> <img src="~/img/uni.jpg">
            <h3>Lorem ipsum dolor sit amet con se cte tur adipiscing elit</h3>
          </div>
        }
      </div>
</div>
