
<div class="body_wrapper">
  <div class="center">
<div class="slider_area" >
      <div class="slider" >
        <ul class="bxslider" >
          <li style="height: 400px">
              <img src="~/img/breakinNews.jpg" style="width: 928px; height: 300px"/>
              <a asp-controller="News" class="btn btn-danger" style="width: 920px; height: 50px" asp-action="Index">Read Breaking News</a>
          </li>
          <li style="height: 400px">
              <img src="~/img/uni.jpg" style="width: 928px; height: 300px" />
              <a asp-controller="University" class="btn btn-success" style="width: 920px; height: 50px" asp-action="Index">Find University for you</a>
          </li>
          <li style="height: 400px">
              <img src="~/img/cat.jpg" style="width: 928px; height: 300px" />
              <a asp-controller="Cat" class="btn btn-warning" style="width: 920px; height: 50px" asp-action="Index">Useful facts About cats</a>
           </li>
        </ul>
      </div>
    </div>
    </div>
    </div>