<!DOCTYPE html>
<html lang="">
<head>
<title>Saita</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="~/font/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="~/font/font.css" />
<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/css/style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/css/responsive.css" media="screen" />
<link rel="stylesheet" type="text/css" href="~/css/jquery.bxslider.css" media="screen" />
<link rel="stylesheet" href="https://use.fontawsome.com/releases/v6.2.0/css/all.css" />
</head>
<body>
    <div class="body_wrapper">
  <div class="center">
	<div class="main_menu_area">
      <ul id="nav">
        <li><a asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li><a asp-controller="News" asp-action="Index">News</a>
        </li>
        <li><a asp-controller="University" asp-action="Index" >Universities</a></li>
        <li><a asp-controller="Cat" asp-action="Index" >Cats Facts</a>
        </li>
      </ul>
    </div>
    </div>
    </div>
<!-- Top Background Image Wrapper -->
<div class="body_wrapper">
  <div class="center">
@RenderBody()
</div>
</div>

<script type="text/javascript" src="~/js/jquery-min.js"></script> 
<script type="text/javascript" src="~/js/bootstrap.min.js"></script> 
<script type="text/javascript" src="~/js/jquery.bxslider.js"></script> 
<script type="text/javascript" src="~/js/selectnav.min.js"></script> 
<script type="text/javascript">
selectnav('nav', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
selectnav('f_menu', {
    label: '-Navigation-',
    nested: true,
    indent: '-'
});
$('.bxslider').bxSlider({
    mode: 'fade',
    captions: true
});
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>